.ipynb_checkpoints
/data/Modify.ipynb
/data/FayWusH_dict.pkl
/data/FuLisD_dict.pkl
/data/H12_dict.pkl
/data/TajimasD_dict.pkl
/data/ZengsE_dict.pkl
/data/Simulation_log/
/data/Simulation_selsweep/
/2.1_SLiM_scripts/pop_fluc/
